Repository DiamondLightSource/python-copier-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, constraints

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
      - id: check-yaml
      - id: check-merge-conflict

  - repo: local
    hooks:
      - id: ruff
        name: lint with ruff
        language: system
        entry: ruff check --force-exclude
        types: [python]
        require_serial: true

      - id: ruff-format
        name: format with ruff
        language: system
        entry: ruff format --force-exclude
        types: [python]
        require_serial: true

      - id: constraints
        name: check constraints match installed
        language: system
        entry: ./requirements/regenerate.sh --if-non-empty
        files: ^(pyproject\.toml|requirements/constraints\.txt)$
        pass_filenames: false

Make template .gitignore a file
  template/.gitignore
  tests/test_example.py
Due: ruff, ruff-format

Update adopt into existing tutorial
  docs/tutorials/adopt-existing.md
Due: none

Do version handling in the root docs in the same way as template
  docs/conf.py
  pyproject.toml
Due: ruff, ruff-format, constraints

Improve root docs
  README.md
  docs/tutorials/adopt-existing.md
Due: none

Rename tox envs by task not technology
  .github/workflows/_test.yml
  docs/how-to/coverage.md
  docs/how-to/run-tests.md
  docs/how-to/static-analysis.md
  pyproject.toml
  template/pyproject.toml.jinja
  template/{% if git_platform=="github.com" %}.github{% endif %}/workflows/ci.yml.jinja
Due: constraints

Improve help text for owner
  copier.yml
Due: none

Make type_checker selectable
  README.md
  catalog-info.yaml
  copier.yml
  docs/how-to/static-analysis.md
  example-answers.yml
  template/pyproject.toml.jinja
Due: none

Fix catalog-info cut and paste error
  catalog-info.yaml
Due: none

Replace duplicate ADRs with links
  docs/explanations/decisions/0001-record-architecture-decisions.md
  docs/explanations/decisions/COPYME
  template/{% if sphinx %}docs{% endif %}/explanations/decisions/0001-record-architecture-decisions.md
  template/{% if sphinx %}docs{% endif %}/explanations/decisions/COPYME
Due: none

Add some new ADRs
  docs/explanations/decisions/0015-use-ruff.md
  docs/explanations/decisions/0016-convert-to-mkdocs.md
  docs/explanations/decisions/0017-use-pyright.md
Due: none

Allow dots in repo names
  copier.yml
  tests/test_example.py
Due: ruff, ruff-format

add cd into tasks
  copier.yml
Due: none

changed the url for template source
  catalog-info.yaml
Due: none

changed the url to the full path
  catalog-info.yaml
Due: none

changed back name
  catalog-info.yaml
Due: none

removed output link for 'open in catalog'
  catalog-info.yaml
Due: none

added note on making a release when changing the `catalog-info.yaml` file (ui)
  .github/CONTRIBUTING.md
Due: none

updated notes on making a release
  .github/CONTRIBUTING.md
Due: none

reworded section on checking changes
  .github/CONTRIBUTING.md
Due: none

altered wording
  .github/CONTRIBUTING.md
Due: none

Only put container docs in if publishing them
  template/README.md.jinja
  template/{% if sphinx %}docs{% endif %}/how-to/{% if docker %}run-container.md{% endif %}.jinja
  tests/test_example.py
Due: ruff, ruff-format

Fix line breaks in readme
  template/README.md.jinja
Due: none

only test pypi in ci if pypi
  template/{% if git_platform=="github.com" %}.github{% endif %}/workflows/ci.yml.jinja
Due: none

add pypi template option
  catalog-info.yaml
  copier.yml
Due: none
