Repository DiamondLightSource/python-copier-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, constraints

ruff:
  name: lint with ruff
  language: system
  entry: ruff check --force-exclude
  require_serial: true

ruff-format:
  name: format with ruff
  language: system
  entry: ruff format --force-exclude
  require_serial: true

constraints:
  name: check constraints match installed
  language: system
  entry: ./requirements/regenerate.sh --if-non-empty
  pass_filenames: false

Only generate catalog info when in DiamondLightSource
  copier.yml
  template/{% if github_org == "DiamondLightSource" %}catalog-info.yaml{% endif %}.jinja
  tests/test_example.py
Due: ruff, ruff-format

add dependencies checker to the release workflow
  .github/workflows/_release.yml
Due: none

license check report pinned to 2.0 and add report saving
  .github/workflows/_release.yml
Due: none

Add test
  tests/test_example.py
Due: ruff, ruff-format

Fix license link
  README.md
  template/README.md.jinja
Due: none

Cap copier version to avoid symlink issue
  pyproject.toml
Due: constraints

Match casing of AS and FROM in Dockerfile
  Dockerfile
  template/Dockerfile.jinja
Due: none

Revert "Cap copier version to avoid symlink issue"
  pyproject.toml
Due: constraints

Do not run the linkcheck test on tag because of race condition
  tests/test_example.py
Due: ruff, ruff-format

set attestations to false in pypi release ci
  .github/workflows/_pypi.yml
Due: none

add recommended workflow for copier updates
  docs/how-to/update-template.md
Due: none

typo
  docs/how-to/update-template.md
Due: none

Update docs/how-to/update-template.md
  docs/how-to/update-template.md
Due: none

add recommended workflow for copier updates (#214)
  docs/how-to/update-template.md
Due: none

switch from common-utils feature to bash-config
  .devcontainer/devcontainer.json
Due: none

Update dev-install.md
  docs/how-to/dev-install.md
Due: none

Fix typo in bug report template
  template/{% if git_platform=="github.com" %}.github{% endif %}/ISSUE_TEMPLATE/bug_report.md
Due: none

Pin to major version of bash-config feature
  .devcontainer/devcontainer.json
Due: none

Ruff check --fix under pre-commit
  .pre-commit-config.yaml
Due: none

Add RUF018 to lint.select
  template/pyproject.toml.jinja
Due: none

Support pyright strict mode in template
  copier.yml
  example-answers.yml
  template/pyproject.toml.jinja
  tests/test_example.py
Due: ruff, ruff-format

Update docs on strict mode
  copier.yml
  docs/how-to/strict-mode.md
Due: none

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  constraints: any of: ^(pyproject\.toml|requirements/constraints\.txt)$
