Repository DiamondLightSource/python-copier-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, constraints

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
      - id: check-yaml
      - id: check-merge-conflict

  - repo: local
    hooks:
      - id: ruff
        name: lint with ruff
        language: system
        entry: ruff check --force-exclude
        types: [python]
        require_serial: true

      - id: ruff-format
        name: format with ruff
        language: system
        entry: ruff format --force-exclude
        types: [python]
        require_serial: true

      - id: constraints
        name: check constraints match installed
        language: system
        entry: ./requirements/regenerate.sh --if-non-empty
        files: ^(pyproject\.toml|requirements/constraints\.txt)$
        pass_filenames: false

failing draft
  pyproject.toml
Due: constraints

add lockfile update instructions
  docs/how-to/lock-requirements.md
Due: none

Use dev-requirements.txt in the Dockerfile
  template/Dockerfile.jinja
Due: none

Enable SLF001 for src
  template/pyproject.toml.jinja
  tests/test_example.py
Due: ruff, ruff-format

Create ADR for SLF001
  docs/explanations/decisions/0018-forbid-private-member-access-in-tests.md
Due: none

Create ADR for SLF001
  docs/explanations/decisions/0018-forbid-private-member-access-in-prod.md
Due: none

Replace deprecated write_to with version_file
  template/pyproject.toml.jinja
Due: none

Workaround build-push-action download-artifact incompatibility
  .github/workflows/_container.yml
Due: none

Write a failing test for strict mode
  tests/test_example.py
Due: ruff, ruff-format

Fix pyright errors in the template
  template/src/{{ package_name }}/__main__.py.jinja
  tests/conftest.py
Due: ruff, ruff-format

Document how to enable strict mode
  docs/how-to/strict-mode.md
Due: none

Expand updating docs
  docs/how-to/update-template.md
Due: none

Remove default component owner
  copier.yml
Due: none

Template type and lifecycle in catalog info
  copier.yml
  template/catalog-info.yaml.jinja
Due: none

Update examples and tests
  example-answers.yml
  tests/test_example.py
Due: ruff, ruff-format

Improve docstring of component_owner
  copier.yml
Due: none

Set choices for component type and lifecycle to supported values
  copier.yml
Due: none

Add more detail on devcontainers to docs
  docs/how-to/dev-install.md
Due: none

Fix inconsistent quote marks
  docs/how-to/dev-install.md
Due: none

Add more detail on how to get a list of valid groups from dev portal
  copier.yml
Due: none

Explicitly put pyright in standard mode
  docs/how-to/strict-mode.md
  template/pyproject.toml.jinja
  tests/test_example.py
Due: ruff, ruff-format

Allow pydocstyle ruff rules without enabling them
  .github/pages/make_switcher.py
  docs/how-to/check-docs-style.md
  template/src/{{ package_name }}/__main__.py.jinja
  template/{% if sphinx %}docs{% endif %}/conf.py.jinja
  tests/test_example.py
Due: ruff, ruff-format

Use autosummary for sphinx docs
  .gitignore
  template/.gitignore
  template/README.md.jinja
  template/src/{{ package_name }}/__init__.py
  template/src/{{ package_name }}/__main__.py.jinja
  template/{% if sphinx %}docs{% endif %}/_api.rst.jinja
  template/{% if sphinx %}docs{% endif %}/_templates/custom-module-template.rst
  template/{% if sphinx %}docs{% endif %}/conf.py.jinja
  template/{% if sphinx %}docs{% endif %}/reference.md.jinja
  template/{% if sphinx %}docs{% endif %}/reference/api.md.jinja
  tests/test_example.py
Due: ruff, ruff-format

Add ADR
  docs/explanations/decisions/0019-autosummary-api-docs.md
Due: none

Fix trailing blank line in dev only Dockerfile
  template/Dockerfile.jinja
  tests/test_example.py
Due: ruff, ruff-format
