Repository DiamondLightSource/python-copier-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, uv-sync

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1000"] # uv.lock is more than 500kB
      - id: check-yaml
      - id: check-merge-conflict
      - id: end-of-file-fixer

  - repo: local
    hooks:
      # Run the linter.
      - id: ruff
        name: lint with ruff
        language: system
        entry: ruff check --force-exclude --fix
        types: [python]
        require_serial: true

      # Run the formatter.
      - id: ruff-format
        name: format with ruff
        language: system
        entry: ruff format --force-exclude
        types: [python]
        require_serial: true

      # Make sure lock file satisfies dependencies in pyproject.toml.
      - id: uv-sync
        name: update uv.lock and venv
        pass_filenames: false
        language: system
        entry: uv sync
        files: ^(uv\.lock|pyproject\.toml)$

Address review comments
  Dockerfile
  template/Dockerfile.jinja
  tests/test_example.py
Due: ruff, ruff-format

Move back to tox TOML format
  .github/workflows/periodic.yml
  docs/how-to/build-docs.md
  pyproject.toml
  template/pyproject.toml.jinja
  tests/test_example.py
Due: ruff, ruff-format, uv-sync

Don't autoforward ports in devcontainer
  .devcontainer/devcontainer.json
Due: none

Tidy diff
  .pre-commit-config.yaml
  Dockerfile
  template/Dockerfile.jinja
Due: none

Remove pytest version pinning from template pyproject.toml
  template/pyproject.toml.jinja
Due: none

refactor: Convert to use `uv` (#248)
  .devcontainer/devcontainer.json
  .github/actions/install_requirements/action.yml
  .github/workflows/_dist.yml
  .github/workflows/_docs.yml
  .github/workflows/_test.yml
  .github/workflows/_tox.yml
  .github/workflows/ci.yml
  .github/workflows/periodic.yml
  .pre-commit-config.yaml
  .python-version
  Dockerfile
  README.md
  __init__.py
  docs/explanations/decisions/0023-uv.md
  docs/how-to/build-docs.md
  docs/how-to/lint.md
  docs/how-to/lock-requirements.md
  docs/how-to/update-template.md
  pyproject.toml
  template/.python-version
  template/Dockerfile.jinja
  template/pyproject.toml.jinja
  template/uv.lock
  template/{% if git_platform=="github.com" %}.github{% endif %}/actions
  template/{% if git_platform=="github.com" %}.github{% endif %}/workflows/ci.yml.jinja
  tests/test_example.py
  uv.lock
Due: ruff, ruff-format, uv-sync

Run uv sync before pushing example code
  .github/workflows/_example.yml
Due: none

fix: run uv lock before pushing example code (#292)
  .github/workflows/_example.yml
Due: none

Make sure pyright is happy with external deps
  template/pyproject.toml.jinja
  tests/test_example.py
Due: ruff, ruff-format

Allow uv.lock to be different in the example
  tests/test_example.py
Due: ruff, ruff-format

fix: make sure pyright is happy with external deps (#296)
  template/pyproject.toml.jinja
  tests/test_example.py
Due: ruff, ruff-format

fix: container now copies managed python into runtime
  .devcontainer/devcontainer.json
  Dockerfile
  template/Dockerfile.jinja
Due: none

chore(pre-commit): add gitleaks hook and YAML-only sealed-secrets allowlist
  .gitleaks.toml
  .pre-commit-config.yaml
Due: none

tests(gitleaks): add staged-leak checks and YAML allowlist; symlink template/.gitleaks.toml
  template/.gitleaks.toml
  tests/test_gitleaks_precommit.py
Due: ruff, ruff-format

docs: improve comments in .gitleaks.toml for clarity
  .gitleaks.toml
Due: none

test(gitleaks): split sealed-secrets tests; use realistic-looking sealed-secret blob
  tests/test_gitleaks_precommit.py
Due: ruff, ruff-format

test(gitleaks): use .venv/bin/tox (uv creates .venv)
  tests/test_gitleaks_precommit.py
Due: ruff, ruff-format

ci(gitleaks): add pre-commit hook, config with sealed-secrets allowlist, and tests (#287)
  .gitleaks.toml
  .pre-commit-config.yaml
  template/.gitleaks.toml
  tests/test_gitleaks_precommit.py
Due: ruff, ruff-format

Add debug path too
  template/Dockerfile.jinja
Due: none

Update README
  README.md
Due: none

fix: container now copies managed python into runtime (#297)
  .devcontainer/devcontainer.json
  Dockerfile
  README.md
  template/Dockerfile.jinja
Due: none

Fix VSCode garbled REPL
  .devcontainer/devcontainer.json
Due: none

fix: VSCode garbled REPL (#298)
  .devcontainer/devcontainer.json
Due: none

Stop updating uv env in PATH
  .devcontainer/devcontainer.json
Due: none

Use shared volume for devcontainer uv cache
  .devcontainer/devcontainer.json
Due: none

Use shared cache for pre-commit hooks
  .devcontainer/devcontainer.json
Due: none

Add a global cache for uv, pre-commit and global venv
  .devcontainer/devcontainer.json
  docs/how-to/dev-install.md
  docs/how-to/lock-requirements.md
Due: none

Change /cache volume name
  .devcontainer/devcontainer.json
Due: none

feat: Add a global cache for uv, pre-commit and global venv (#307)
  .devcontainer/devcontainer.json
  docs/how-to/dev-install.md
  docs/how-to/lock-requirements.md
Due: none
