Repository DiamondLightSource/python-copier-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, constraints

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
      - id: check-yaml
      - id: check-merge-conflict

  - repo: local
    hooks:
      - id: ruff
        name: lint with ruff
        language: system
        entry: ruff check --force-exclude
        types: [python]
        require_serial: true

      - id: ruff-format
        name: format with ruff
        language: system
        entry: ruff format --force-exclude
        types: [python]
        require_serial: true

      - id: constraints
        name: check constraints match installed
        language: system
        entry: ./requirements/regenerate.sh --if-non-empty
        files: ^(pyproject\.toml|requirements/constraints\.txt)$
        pass_filenames: false

Fix packaging issues
  docs/how-to/make-release.md
  pyproject.toml
  template/pyproject.toml.jinja
  tests/test_example.py
Due: ruff, ruff-format, constraints

changed .devcontainer in template to symlink of root's
  template/.devcontainer/devcontainer.json
Due: none

replaced .pre-commit-config.yaml to symlink of root's
  template/.pre-commit-config.yaml
Due: none

added symlinked .devcontainer
  template/.devcontainer
Due: none

changed .vscode in template to symlink of root's
  template/.vscode
  template/.vscode/extensions.json
  template/.vscode/launch.json
  template/.vscode/settings.json.jinja
  template/.vscode/tasks.json
Due: none

removed refs to 'black' in pyproject.yaml
  template/pyproject.toml.jinja
Due: none

replaced all docs refs of 'black' to 'ruff'
  docs/conf.py
  docs/explanations/decisions/0008-use-tox.md
  docs/reference/standards.rst
  template/{% if sphinx %}docs{% endif %}/conf.py.jinja
Due: ruff, ruff-format

Remove docs tox env if sphinx not selected
  template/README.md.jinja
  template/pyproject.toml.jinja
  tests/test_example.py
Due: ruff, ruff-format

add back myst-parser
  template/pyproject.toml.jinja
Due: none

Lint and make sure we install pre-commit
  .devcontainer/devcontainer.json
  tests/test_example.py
Due: ruff, ruff-format

removed rst_epilog
  template/{% if sphinx %}docs{% endif %}/conf.py.jinja
Due: none

changed pyright refs to mypy
  docs/explanations/decisions/0008-use-tox.md
Due: none

revert back 'black' to 'ruff'
  docs/explanations/decisions/0008-use-tox.md
Due: none

Fix codecov badge in readme
  template/README.md.jinja
Due: none

use generated file version
  template/src/{{ package_name }}/__init__.py
  template/src/{{ package_name }}/__init__.py.jinja
Due: ruff, ruff-format

lose typing-extensions dependency
  template/pyproject.toml.jinja
Due: none

Correct README for pypi name and codecov badge
  template/README.md.jinja
  template/{% if sphinx %}docs{% endif %}/tutorials/installation.md.jinja
Due: none

Use description in README and update example description
  example-answers.yml
  template/README.md.jinja
  tests/test_example.py
Due: ruff, ruff-format

remove sphinx dependencies when not required
  template/pyproject.toml.jinja
Due: none

fix jinja template value in run-container.md
  template/{% if sphinx %}docs{% endif %}/how-to/run-container.md.jinja
Due: none

Move release notes
  docs/conf.py
  template/{% if sphinx %}docs{% endif %}/conf.py.jinja
  template/{% if sphinx %}docs{% endif %}/reference.md.jinja
Due: ruff, ruff-format

Reformat deps
  template/pyproject.toml.jinja
Due: none

Add link to template how-to guides in contributing.md
  template/{% if git_platform=="github.com" %}.github{% endif %}/CONTRIBUTING.md.jinja
Due: none

use myst-parser admonitions for notes
  docs/tutorials/adopt-existing.md
Due: none

added first draft of adopting template docs
  docs/tutorials/adopt-existing.md
Due: none

Fix example updating test
  tests/test_example.py
Due: ruff, ruff-format

Change wording for ADRs and add template
  template/{% if sphinx %}docs{% endif %}/explanations/decisions.md
  template/{% if sphinx %}docs{% endif %}/explanations/decisions/COPYME
Due: none
